---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.image %}
      <div class="article-cover" style='--cover: url("{{ page.image | replace: '#', '%23' | relative_url | xml_escape }}");'></div>
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date">
          <span>
          {% include date.html date=page.real-date -%}
          {%- if page.episode and page.episode != blank %}
              – Episode {{ page.episode -}}
              {%- assign type = page.type | downcase -%}
              {%- if type and type != blank and type != "full" %}
                  {{ type }}
              {%- endif -%}
          {%- endif %}
          </span>
        </div>
      </header>
      {% if page.audio or page.download_url %}{{content | after_hr}}{% else %}{{content}}{% endif %}
      {% unless page.no_footer %}
        <div class="page-footer">
          <div class="page-share">
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
          </div>
          <div class="page-tag">
            {% for tag in page.rich_tags %}
            <a href="{{site.baseurl}}/tags/{{ tag.slug }}" class="tag">&#35; {{ tag.long_name }}</a>
            {% endfor %}
          </div>
        </div>
      {% endunless %}
      {% if site.disqus-identifier %}{% include disqus.html %}{% endif %}
      {% if site.isso-url %}{% include isso.html %}{% endif %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
<script type="text/javascript">
  {% include js/image-display.js %}

  let IMAGE_DISPLAY;
  document.addEventListener('DOMContentLoaded', function() {
    IMAGE_DISPLAY = new ImageDisplay();
    IMAGE_DISPLAY.append_image_elements(document.getElementsByClassName('article-page')[0].querySelectorAll("p > img, .images > img, .images > .image-container"));
  });
</script>
