@media only screen and (max-width : 1300px) {
  .showcase-container {
    left: 0;
    width: 100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .showcase {
    .cover {
      height: 300px;
    }
  }

  .episodes-heading {
    margin: 0 0.9%;
  }

  .wrap-content {
    padding: 3.5em;
  }

  .images {
    &.w4 {
      .image-container {
        width: flex-column-width(3, 15px);
      }
    }
  }

  .post {
    width: 48%;
    max-width: 100%;
    margin: 0 0.9% 1.5%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 0.5em;
        line-height: 1.1;
        a {
          font-size: 21px;
        }
      }
    }
  }

  iframe.youtube {
    width: 400px;
    height: 300px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  header.navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background: none;
    text-align: center;

    & > *:not(:last-child) {
      margin-top: 1rem;
      margin-right: 0;
    }

    & > *:not(.logo) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &::before {
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 250px;
      background: linear-gradient(to bottom, rgba(#7E5BB2, 0.5), transparent);
    }

    .contact {
      display: none;
    }
  }
  .logo {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    padding: 0;
    img.fill-vertical {
      display: none;
    }
    img.fill-horizontal {
      display: initial;
    }
    &::after {
      display: none;
    }
  }
  .contact ul {
    margin-top: 10px;
  }
  .contact ul li a {
    padding-top: 0;
    padding-bottom: 0;
  }

  .showcase-container {
    h1 {
      font-size: 1.5em;
    }

    p {
      font-size: 1.25em;
    }
  }

  .showcase {
    flex-direction: column-reverse;

    .cover {
      border-radius: 20%;
      width: 50%;
      height: auto;
    }

    .blurb {
      margin: 0;
      margin-top: 1.5em;
      width: 80%;
    }
  }

  .content-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .wrap-content {
    padding: 3.5em;
  }

  footer.website-footer {
    .contact {
      display: block;
    }
  }

  .images {
    &, &.w1, &.w2, &.w3, &.w4 {
      & > img, .image-container {
        width: 80%;
        max-width: none;
      }
    }

    .image-container img {
      max-width: 100%;
    }
  }
  

  .image-display {
    .image-container {
      font-size: 0.8em;
    }
    .arrow {
      font-size: 25px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .content-box {
    padding: 10px;
  }

  .showcase-container {
    h1 {
      font-size: 1.5em;
    }

    p {
      font-size: 1.25em;
    }
  }

  .showcase {
    padding: 0 2.5rem;

    .cover {
      width: 100%;
    }

    .blurb {
      margin-top: 1.5em;
      width: 100%;
    }
  }

  .episodes-heading {
    margin: 0 2%;
  }

  .post {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 0.4em;
        line-height: 1.1;
        a {
          font-size: 21px;
        }
      }
    }
  }

  .wrap-content {
    padding: 2em;
  }

  .images .image-container,
  .images.w1 .image-container,
  .images.w2 .image-container,
  .images.w3 .image-container,
  .images.w4 .image-container {
    width: 100%;
  }

  .images img,
  .images.w1 img,
  .images.w2 img,
  .images.w3 img,
  .images.w4 img {
    max-width: 100%;
  }

  iframe.youtube {
    width: 320px;
    height: 240px;
  }
}
