/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .post {
    width: 48%;
    max-width: 100%;
    margin: 0 0.9% 1.5%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 0.5em;
        line-height: 1.1;
        a {
          font-size: 21px;
        }
      }
    }
  }

  iframe.youtube {
    width: 400px;
    height: 300px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    width: 100%;
    padding: 1rem;
    background: none;

    header::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 250px;
      background: linear-gradient(to bottom, rgba(#7E5BB2, 0.5), transparent);
    }

    footer {
      display: none;
    }
  }
  .footer {
    display: block;
    padding: 10px 0;
    footer {
      display: block;

      ul {
        margin-top: 0;
      }
      .copyright {
        display: initial;
      }
    }
  }
  .cover-image {
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
    height: auto;
    margin-bottom: 0;
    img.square {
      display: none;
    }
    img.banner {
      display: initial;
    }
    &::after {
      display: none;
    }
  }
  .about {
    text-align: center;
    max-width: 480px;
    margin: 0;
    .site-title {
      display: none;
      padding-bottom: 0;
      &::after {
        display: none;
      }
    }
    p {
      margin-top: 0;
      margin-bottom: 1em;
    }
  }
  .contact ul {
    margin-top: 10px;
  }
  .contact ul li a {
    padding-top: 0;
    padding-bottom: 0;
  }

  .content-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .copyright {
    display: none;
  }

  .images.three-wide > img, .images.three-wide > .image-container {
    max-width: calc(50% - 30px);
  }
  .images.four-wide > img, .images.four-wide > .image-container {
    max-width: calc(33% - 30px);
  }

  .image-display {
    .image-container {
      font-size: 0.8em;
    }
    .arrow {
      font-size: 25px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .content-box {
    padding: 10px;
  }
  .post {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 0.4em;
        line-height: 1.1;
        a {
          font-size: 21px;
        }
      }
    }
  }

  .images.four-wide > img, .images.four-wide > .image-container {
    max-width: calc(50% - 30px);
  }

  iframe.youtube {
    width: 320px;
    height: 240px;
  }
}
