/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .post {
    width: 48%;
    max-width: 100%;
    margin: 0 0.9% 1.5%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 21px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: $white;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);

    footer {
      margin-bottom: 10px;
    }
  }
  .about {
    text-align: center;
    max-width: 480px;
    margin: 10px auto auto;
    .cover-image {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }
    img {
      width: 100px;
      height: 100px;
    }
    .site-title {
      padding-bottom: 0;
      &::after {
        display: none;
      }
    }
  }
  .contact ul {
    margin-top: 10px;
  }
  .contact ul li a {
    padding-top: 0;
    padding-bottom: 0;
  }

  .content-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .contact-title, .copyright {
    display: none;
  }

  .images.three-wide > img, .images.three-wide > .image-container {
    max-width: calc(50% - 30px);
  }
  .images.four-wide > img, .images.four-wide > .image-container {
    max-width: calc(33% - 30px);
  }

  .image-display {
    .image-container {
      font-size: 0.8em;
    }
    .arrow {
      font-size: 25px;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .content-box {
    padding: 10px;
  }
  .post {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 21px;
        }
      }
    }
  }

  .images.four-wide > img, .images.four-wide > .image-container {
    max-width: calc(50% - 30px);
  }
}
