$body-color: #68422F;
$background-color: #191F42;
$background-gradient-to: #3F2E8F;
$white: #FFF5CF;
$darker-content-background: #F5E1B0;
$lightgray: #fafafa;
$gray: #ecf0f1;
$darker-color-gray: #a0a0a0;
$lighter-color: #976851;
$darker-color: #622B11;
