$background: #110A22;
$content-background: #160D2D;
$highlight-content-background: #281d44;
$card-border-color: #3C3057;
$selection-background: rgba(#664EA0, 0.3333);
$banner-logo-background: #0B001D;

$background-text-color: white;
$background-heading-color: white;
$content-text-color: #E6E0B5;
$content-heading-color: #ECDE74;
$link-color: #8759FF;
$system-text-color: #665293;
$system-highlight-text-color: #8D78BB;

$gray: #ecf0f1;
$darker-color-gray: #a0a0a0;
$lighter-color: #976851;
$darker-color: #622B11;
