<footer>
  <section class="contact">
    <ul>
      {% if site.social-twitter %}
        <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.social-facebook %}
        <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.social-github %}
        <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% endif %}
      {% if site.social-linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% endif %}
      {% if site.social-email %}
        <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% endif %}
    </ul>
  </section>
  <div class="copyright">
    {% assign copyright_start_year = site.copyright-start-year | append: "" -%}
    {% assign current_year = site.time | date: '%Y' -%}
    <p>&copy; {% if copyright_start_year != current_year %}{{ copyright_start_year }}&thinsp;–&thinsp;{% endif %}{{ current_year }} {{site.author}}</p>
  </div>
</footer>
