<footer class="website-footer">
  <section class="contact">
    <ul>
      {% if site.social-twitter %}
        <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.social-facebook %}
        <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.social-github %}
        <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% endif %}
      {% if site.social-linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% endif %}
      {% if site.social-email %}
        <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% endif %}
    </ul>
  </section>
  <div class="copyright-and-source-link">
    {% assign copyright_start_year = site.copyright-start-year | append: "" -%}
    {% assign current_year = site.time | date: '%Y' -%}
    <p><span style="font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">&copysr;</span> {% if copyright_start_year != current_year %}{{ copyright_start_year }}&thinsp;–&thinsp;{% endif %}{{ current_year }} {{site.author}}{% if site.site-source-link %}&ensp;&middot;&ensp;<a href="{{ site.site-source-link | xml_escape }}" style="color: inherit;"><svg xmlns="http://www.w3.org/2000/svg" style="height: 1.2em; transform: translateY(-0.08em); vertical-align: middle;" viewBox="0 -960 960 960"><path fill="currentColor" d="M320-240 80-480l240-240 57 57-184 184 183 183-56 56Zm320 0-57-57 184-184-183-183 56-56 240 240-240 240Z"/></svg> Source</a>{% endif %}</p>
  </div>
</footer>
