---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-image">
        <a href="{{site.baseurl}}/"><img class="square" src="{{site.baseurl}}/assets/images/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.title}}"><img class="banner" src="{{site.baseurl}}/assets/images/logo/logo-banner.png" alt="{{site.title}}"></a>
      </div>
      <div class="site-title">{{site.title}}</div>
      <p>{{site.about-author}}</p>
      {% if site.google_podcasts_url %}<!-- Google Podcasts button --><a aria-label="google-podcast" href="{{ site.google_podcasts_url | xml_encode }}">{% include listen-button-google.svg %}</a>{% endif %}{% if site.itunes_url %}<!-- Apple Podcasts button --><a aria-label="apple-podcast" href="{{ site.itunes_url | xml_encode }}">{% include listen-button-apple.svg %}</a>{% endif %}<!-- Spotify button -->{% if site.spotify_url %}<a aria-label="spotify" href="{{ site.spotify_url | xml_encode }}">{% include listen-button-spotify.svg %}</a>{% endif %}<!-- RSS feed button --><a target="_blank" href="{{ site['url']}}{{ site['baseurl'] }}/episodes{% if site['episode_feed_formats'] contains 'ogg' %}.ogg{% elsif site['episode_feed_formats'] contains 'm4a' %}.m4a{% elsif site['episode_feed_formats'] contains 'mp3' %}.mp3{% endif %}.rss">{% include listen-button-rss.svg %}</a>
      {% comment %}
      <script defer class="podlove-subscribe-button"
        src="{{ '/subscribe-button/javascripts/app.js' | relative_url }}"
        data-language="{{ site.language }}"
        data-size="medium auto"
        data-style="filled"
        data-json-data="podcastData"
        data-colors="#FC6E51;green;blue">
      </script>
      {% endcomment %}
    </div>
  </header>
  {% include footer.html %}
</aside>
<div class="content-box clearfix">
  {{ content }}
</div>
<aside class="footer">
  {% include footer.html %}
</aside>
