---
layout: main
---

{% unless paginator.previous_page %}
  <div class="showcase-container">
    <div class="showcase">
      <div class="blurb">
        <h1>{{ site.frontpage-blurb-heading }}</h1>
        <p>
          {{ site.frontpage-blurb }}
        </p>
      </div>
      <div class="cover">
        <img src="{{ site.baseurl }}/assets/images/logo/logo-itunes.jpeg">
      </div>
    </div>
  </div>
  <h1 class="episodes-heading">Episodes</h1>
{% endunless %}

{% include post_list_page.html posts=paginator.posts %}

{% include pagination.html %}
